@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.recent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    grid-column: 2/4;
    justify-content: end;
    grid-row: 5/9;
    padding: 0% 5% 0% 0%;
}
.container-recent{
    object-fit: cover;
    background-color: #F2F2F2;
    border-radius: 8px 8px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1.3% 2%;
    gap: 2px;
    justify-content: space-between;
    width: 52%;
    height: 96%;
}
.recent-item{
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E4E4;
    gap: 10px;
    font-family: 'Red Hat Display', sans-serif;
}
.recent-item:last-child {
    border-bottom: none; 
}
.text-Recent{
    width: 70%;
    font-size: 0.89vw;  
}
.text-Recent span{
    font-size: 0.86vw;
    font-weight: bold;
}
.recent-item h6{
    font-size: 0.58vw;
    color: #8D8D8D;
}
.recent-text-container{
    width: 100%;
    height: 90%;
    margin-top: 6%;
}
.view-button{
    color: #6eaa68;
    background: #E6EDE5; 
    border: none; 
    border-radius: 15px;
    padding: 3% 5%; 
    cursor: pointer; 
    font-size: 65%;
}
.head-title {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333;
    margin: 0; 
}
@media (max-width:767px) {
    .recent{
        grid-column: 1/3;
        grid-row: 8/10;
        padding: 0%;
    }
    .container-recent{
        border-radius: 8px ;
        width: 100%;
        height: 100%;
    }
    .recent-text-container{
        height: 80%;
        margin-top: 1%;
    }
    .view-button{
        padding: 1% 3%;
    }
    .text-Recent{
        width: 35%;
        font-size: 1.5vw;
    }
    .text-Recent span{
        font-size: 1.8vw;
    }
    .recent-item h6{
        font-size: 1vw;
        color: #8D8D8D;
    }
}
@media (max-width: 576px) {
    .recent{
        grid-column: 2/-1;
        grid-row: 6/9;
    }
    .text-Recent{
        font-size: 2vw;
        width: 40%;
    }
    .text-Recent span{
        font-size: 2.5vw;
    }
    .recent-item h6{
        font-size: 2vw;
    }
    .view-button{
        height: 6%;
        border-radius: 5px;
    }
}
@media (max-width: 336px) {
    .recent {
        grid-column: 1/-1;
        grid-row: -2;
    }
}