.container {
    background-color: white;
    border-radius: 16px 0px 0px 16px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 0px 40px;
    width: 100%; 
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr );
}
@media (max-width: 767px) {
    .container {
        border-radius: 16px 16px 0px 0px; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr 1fr 0.7fr repeat(4, 1fr ) 0.3fr 1fr;
        height: 210vh;
        gap: 8px;
        padding: 0px 2% 0px 2%;
    }
}
@media (max-width: 576px) {
    .container {
        grid-template-rows: 0.5fr 1fr  0.7fr repeat(3, 1fr ) 0.1fr 1fr;
        gap: 10px;
    }
}
@media (max-width: 336px) {
    body .container {
        display: grid;
        grid-template-rows: 0.3fr 1fr 0.2fr 0.5fr  repeat(2, 1.5fr) 0.5fr repeat(3, 1fr );
        gap: 10px;
        height: 200vh;
    }
}