.author {
    background-color: #f2f2f2;
    border-radius: 30px;
    box-Shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 75%;
    padding: 0.5vh 0;
}

.cardA {
    display: flex;
    justify-content: space-around;
    width: 95%;
    align-items: center;
    border-bottom: inset;
}

.cardA h3, p {
   font-size: 1vw; 
}

.imgA {
    width: 3.5vw;
    border-radius: 15px;
}

.infoAuthor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 95%;
    text-align: center;
}

.infoAuthor button {
    font-size: 0.8vw;
    width: auto;
    height: 5vh;
    border-radius: 60px;
    background-color: rgba(104, 184, 104, 0.153);
    color: #6fa16f;
}

.infoAuthor h3 {
    font-size: 1.2vw;
}

@media (max-width: 768px) {
    .cardA h3 , p {
        font-size: 3vw;
    }

    .cardA p {
        font-size: 3vw;
    }

    .author {
        display: flex;
        flex-direction: column;
        margin: 1vh 0;
    }

    .infoAuthor h3 {
        font-size: 3vw;
    }

    .imgA {
        width: 14vw;
    }

    .infoAuthor button {
        font-size: 3vw;
    }
}