.statsCard {
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 0.5vh 1.2vw;
    box-Shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #343a3f7c;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statsCard h4, p {
    margin: 2px;
}

@media (max-width: 768px) {
    .statsCard h4, p{
        font-size: 3vw;
    }

    .cardA p{
        font-size: 2.5vw;
    }
}