.statsCard {
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 0.5vh 1.2vw;
    box-Shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-style: groove;
    font-size: 1vw;
}